<div class="concurrency">
  <div class="concurrency__stack stack">
    <div class="stack__frame"><span>Function a()</span></div>
  </div>
  <div class="concurrency__heap heap">
    <div class="heap__object"></div>
    <div class="heap__object"></div>
    <div class="heap__object"></div>
    <div class="heap__object"></div>
    <div class="heap__object"></div>
  </div>
  <div class="concurrency__apis apis">
    <div class="apis__element">Event Listener</div>
    <div class="apis__element">Promise</div>
    <div class="apis__element">SetTimeOut</div>
    <div class="apis__element">Storage</div>
  </div>
  <div class="concurrency__loop loop">
    <div class="loop__arrow">
      <img src="../../assets/img/loop-arrow.png" alt="">
    </div>
    <div class="loop__text">Event Loop</div>
  </div>
  <div class="concurrency__queue queue">
    <div class="queue__container"></div>
    <div class="queue__text">Queue</div>
  </div>
  <div class="concurrency__job">
    <div class="job__container"></div>
    <div class="job__text">JOB Queue</div>
  </div>
</div>
